<!DOCTYPE html>
<html
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="_layout">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
        <th:block th:replace="_layout"></th:block>
</head>
<body>
<div layout:fragment="content" class="row">
    <ul>
        <li th:each="course : ${listcourse}" th:text="${course.getStartDate()}+' - '
                                                    +${course.getLectureName()}+', '
                                                    +${course.getPlace()}"></li>
    </ul>

</div>

</body>
</html>